@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu:700');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #23B5D3;
    font-size: 20px;
    line-height: 1.3;
}

header{
    color:#9055A2;
    background-color: #fff;
    width: 100%;
    height: 75px;
    position: fixed;
}

footer{
    position: fixed;
    color: #9055A2;
    background-color: #011638;
    width: 100%;
    height: 50px;
    bottom: 0px;
    text-align: center;
}

nav{
    color: #9055A2;
    width: 100%;
    position: fixed;
    left: 880px;
}

nav li, nav a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

footer p{
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    padding: 18px;
}

.contactcolumn{
    position: relative;
    top: 130px;
    left: 10%;
    width: 35%;
    display: inline-block;
    float: left;
    border: 0px solid green;
    color: #fff;
}

div a{
    text-decoration: none;
    color: #fff
}

div a:hover{
    color: #9055A2;
}

#gittext{
    position: relative;
    top: -35px;
}

#contactphone{
    position: relative;
    display: inline-block;
    left: 60px;
    top: -30px;
}

#contactemail{
    position: relative;
    display: inline-block;
    left: 60px;
    top: -4px;
}

#contactlinkedin{
    position: relative;
    display: inline-block;
    left: 60px;
    top: 20px;
}

#contactform {
    position:relative;
    left: 250px;
}

.fa-phone{
    position: relative;
    font-size: 40px;
    color: #fff;
    transform: scaleX(-1);
}

.fa-envelope{
    position: relative;
    top:30px;
    font-size: 40px;
    color: #fff;
}

.fa-linkedin{
    position: relative;
    top:60px;
    font-size: 50px;
    color: #fff;
}

form{
    border: 0px solid purple;
    position: relative;
    top: -30px;
}

form p{
    color: #000;
    font-size: 16px;
}

input{
    width: 100%;
    height: 3em;
    border: 0px none;
}

textarea{
    width: 100%;
    height: 15em;
    border: 0px none;
}

.contactbox{
    margin-bottom: 15px;
    font-size: 14px;
}

#contactbutton{
    background-color: yellowgreen;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#contactbutton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#contactnum{
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
}

h3 {
    position: relative;
    top: -65px;
    left: 95px;
    font-size: px;
}

