@import url('https://fonts.googleapis.com/css?family=Caveat|Mali|Raleway|Ubuntu:700');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #fff;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 1;
}

.nav_main {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.logo {
    display: inline-block;
    padding: 0px;
    position: absolute;
    color: #fff;
    margin: 22px 20px;
    border: 0px solid green;
    left: 15px
}

footer {
    position: fixed;
    color: #fff;
    background-color: #232229;
    width: 100%;
    height: 40px;
    bottom: 0px;
    text-align: center;
    z-index: 2;
}

.nav_list {
    display: inline-block;
    vertical-align: middle;
}

nav {
    width: 100%;
    position: relative;
    left: 900px;
}

footer p {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    padding: 15px;
}

.contactcolumn {
    position: relative;
    top: 130px;
    left: 12%;
    width: 35%;
    display: inline-block;
    float: left;
    border: 0px solid green;
    color: #fff;
}

div a {
    text-decoration: none;
    color: #fff;
}

div a:hover {
    color: #9C7633;
}

nav li,
nav a {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 5px;
    color: #9C7633;
}

nav a:hover {
    color: #232229;
}

.logo a {
    text-decoration: none;
    color: #232229;
    font-weight: 800;
}

logo a:hover {
    color: #9C7633;
}

h4 {
    text-decoration: none;
    color: #9C7633;
    font-size: 25px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}

#gittext {
    position: relative;
    top: -35px;
}

.contactways {
    margin-bottom: 20px;
    vertical-align: middle;
}

#contactphone,
#contactemail,
#contactlinkedin {
    position: relative;
    display: inline;
    left: 20px;
    top: -10px;
}

#contactform {
    position: relative;
    left: 250px;
}

.contacticon {
    padding: 15px;
    display: inline-block;
    background: #fff;
    border-radius: 90px;
}

.fa-phone {
    position: relative;
    font-size: 40px;
    color: #232229;
    transform: scaleX(-1);
}

.fa-envelope {
    position: relative;
    font-size: 40px;
    color: #232229;
}

.fa-linkedin {
    position: relative;
    font-size: 45px;
    color: #232229;
}

.fa-phone:hover,
.fa-envelope:hover,
.fa-linkedin:hover {
    color: #9C7633;
}

form {
    border: 0px solid purple;
    position: relative;
    top: -30px;
}

form p {
    color: #000;
    font-size: 16px;
}

input {
    width: 100%;
    height: 3em;
    border: 0px none;
}

textarea {
    width: 100%;
    height: 15em;
    border: 0px none;
}

.contactbox {
    margin-bottom: 15px;
    font-size: 14px;
}

#contactbutton {
    background-color: #9C7633;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#contactbutton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contactsectionnum {
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
}

h3 {
    position: relative;
    top: -65px;
    left: 95px;
    font-size: px;
}

.section {
    width: 100%;
    height: 500px;
    position: relative;
    top: 75px;
}

.one {
    background-color: #F2F4F6;
    background-image: linear-gradient(-90deg, rgba(240,246,247,.3), rgba(240,246,247,1));
}

.one img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.one h3 {
    position: relative;
    left: 650px;
    top: 150px;
    width: 50%;
    vertical-align: middle;
    color: #000;
    text-align: center;
    line-height: 1.5;
    font-size: 65px;
    font-family: 'Caveat', cursive;
    border: 0px solid green;
    text-transform: lowercase;
}

.two {
    position: relative;
    top: 75px;
    border: 0px solid black;
    height: 820px;
}

.two h3 {
    border: 0px solid red;
    position: relative;
    top: 5px;
    left: 0px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 28px;
}

.three {
    position: relative;
    border: 0px solid green;
    background-color: #EFEFEF;
}

.three h3 {
    border: 0px solid red;
    position: relative;
    top: 80px;
    left: 0px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 28px;
}

.three p {
    border: 0px solid red;
    position: relative;
    top: 130px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    text-transform: lowercase;
    font-size: 23px;
    line-height: 2;
}

.three button {
    border: 0px solid red;
    position: relative;
    top: 175px;
    height: 40px;
    width: 200px;
    left: 625px;
    text-align: center;
    text-transform: lowercase;
    font-size: 18px;
    background-color: #9C7633;
    color: #fff;
}

.three button:hover {
    background-color: #232229;
    color: #fff;
}

.hhsec {
    border: 0px solid purple;
    display: inline-block;
    width: 30%;
    margin: 20px;
    position: relative;
    left: 5px;
    height: 350px;
    top: 15px;
}

.hhsec p {
    border: 0px solid green;
    text-align: center;
    width: 100%;
    height: 30%;
    font-size: 18px;
    position: relative;
    top: 220px;
    padding: 15px;
}

.hhsec h4 {
    border: 0px solid red;
    position: relative;
    top: 10px;
    text-transform: uppercase;
    font-size: 22px;
}

.v1 {
    border-left: 3px dotted #CFCFCF;
    height: 300px;
    position: absolute;
    left: 33.25%;
    top: 90px;
}

.v2 {
    border-left: 3px dotted #CFCFCF;
    height: 300px;
    position: absolute;
    left: 66.25%;
    top: 90px;
}

.vh {
    border-top: 3px dotted #CFCFCF;
    position: relative;
    width: 92%;
    left: 50px;
    top: 15px;
}

.v3 {
    border-left: 3px dotted #CFCFCF;
    height: 300px;
    position: absolute;
    left: 33.25%;
    top: 475px;
}

.v4 {
    border-left: 3px dotted #CFCFCF;
    height: 300px;
    position: absolute;
    left: 66.25%;
    top: 475px;
}

.hhsec img {
    position: absolute;
    display: inline-block;
    top: 45px;
    left: 125px;
    border: 0px solid red;
}

#leadership img {
    top: 45px;
    left: 112px;
}

#strategy img {
    top: 50px;
    left: 118px;
}

#future img {
    top: 65px;
    left: 135px;
}

#future img {
    top: 65px;
    left: 135px;
}

#analysis img {
    top: 65px;
    left: 128px;
}

#circle {
    width: 200px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 540px;
    left: 618px;
    border-radius: 50%;
}

#circle-two {
    width: 200px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 1340px;
    left: 618px;
    border-radius: 50%;
    z-index: 1
}
